<html>
    <head>
		<title>Interactive Business Process Comparison Using Conformance and Performance Insights - Main Page</title>
        <script type="text/javascript" src="static/jquery.min.js"></script>
        <script type="text/javascript" src="static/bootstrap.min.js"></script>
        <link rel="stylesheet" href="static/bootstrap.min.css" />
        <link rel="stylesheet" href="static/bootstrap-grid.min.css" />
        <link rel="stylesheet" href="static/bootstrap-reboot.min.css" />
        <script type="text/javascript" src="static/sweetalert2.all.min.js"></script>
    </head>
    <body>
		<nav class="navbar navbar-dark bg-primary fixed-top">
		  <a class="navbar-brand" href="javascript:showDiv('conformance_file1')">EMD Comparison</a>
			<a class="navbar-brand" href="javascript:showDiv('conformance_plt3')">EMD Measurement</a>
		  <a class="navbar-brand" href="javascript:showDiv('conformance_file2')">Variants Frequency Comparison</a>
		  <a class="navbar-brand" href="javascript:showDiv('conformance_plt4')">Overlap between Logs</a>
		  <a class="navbar-brand" href="javascript:showDiv('spectrum_file')">Aggregated Performance Spectrum</a>
						<a class="navbar-brand" href="javascript:showDiv('upload')">Upload Page</a>
		</nav>
		<div style="height: 7%">
			&nbsp;
		</div>
		<div id="conformance_file1" style="display: none">
		<p>EARTH MOVER'S DISTANCE <a href="javascript:expand('conformance_file1')">expand</a></p>
		<embed id="conformance_file1A" src="static/empty.html" style="width: 100%; height: 88%;" scrolling="yes">
		</embed>
		</div>
		<div id="conformance_file2" style="display: none">
		<p>VARIANTS FREQUENCY COMPARISON <a href="javascript:expand('conformance_file2')">expand</a></p>
		<embed id="conformance_file2A" src="static/empty.html" style="width: 100%; height: 88%;" scrolling="yes">
		</embed>
		</div>
		<div id="conformance_plt3" style="display: none">
			<p>EARTH MOVER'S DISTANCE MEASUREMENT <a href="javascript:expand('conformance_plt3')">expand</a></p>
		<embed id="conformance_plt3A" src="static/empty.html" style="width: 100%; height: 88%;"  scrolling="yes">
		</embed>
		</div>
		<div id="conformance_plt4" style="display: none">
		<p>OVERLAP BETWEEN LOGS <a href="javascript:expand('conformance_plt4')">expand</a></p>
		<embed id="conformance_plt4A" src="static/empty.html" style="width: 100%; height: 88%;"  scrolling="yes">
		</embed>
		</div>
		<div id="spectrum_file" style="display: none">
		<p>PERFORMANCE SPECTRUM <a href="javascript:expand('spectrum_file')">expand</a></p>
		<embed id="spectrum_fileA" src="static/empty.html" style="width: 100%; height: 88%;"  scrolling="yes">
		</embed>
		</div>
		<script type="text/javascript">

		var corr = {};

		function expand(tab) {
			window.open(corr[tab], '_blank');
		}

        var parseQueryString = function() {

            var str = window.location.search;
            var objURL = {};

            str.replace(
                new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
                function( $0, $1, $2, $3 ){
                    objURL[ $1 ] = $3;
                }
            );
            return objURL;
        };

			let hostname = window.location.hostname;
			let port = window.location.port;

			const urlParams = parseQueryString();
			let uuid1 = urlParams['uuid1'];
			let uuid2 = urlParams['uuid2'];

			function hideAllDivs() {
				document.getElementById("conformance_file1").style.display = "none";
				document.getElementById("conformance_file2").style.display = "none";
				document.getElementById("conformance_plt3").style.display = "none";
				document.getElementById("conformance_plt4").style.display = "none";
				document.getElementById("spectrum_file").style.display = "none";
			}
			
			function showDiv(divName) {
				hideAllDivs();
				if (divName == "upload") {
					window.location.href = "upload.html";
				}
				document.getElementById(divName).style.display = "";
			}
			
			let targetUrl = "http://"+hostname+":"+port+"/visualizationsService?uuid1="+uuid1+"&uuid2="+uuid2;
			console.log(targetUrl);
			
			$.get(targetUrl, function(data) {
				showDiv("conformance_file1");
				corr = data;
				document.getElementById("conformance_file1A").src = data["conformance_file1"];
				document.getElementById("conformance_file2A").src = data["conformance_file2"];
				document.getElementById("conformance_plt3A").src = data["conformance_plt3"];
				document.getElementById("conformance_plt4A").src = data["conformance_plt4"];
				document.getElementById("spectrum_fileA").src = data["spectrum_file"];
			}).fail(function() {
				Swal.fire({
				  icon: 'error',
				  title: 'Oops...',
				  text: "Something went wrong with the event log processing! Make sure that the logs' properties adhere to the XES standard, and the activity names in two event logs are similar.",
				})
			});
		</script>
    </body>
</html>
