<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Scenario-based Analysis of Processes</title>

        <script type="text/javascript" src="static/jquery.min.js"></script>
        <script type="text/javascript" src="static/bootstrap.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="static/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/simple-sidebar.css" rel="stylesheet">
  
  <link rel="stylesheet" href="static/bootstrap-grid.min.css" />
<link rel="stylesheet" href="static/bootstrap-reboot.min.css" />

        <script type="text/javascript" src="static/sweetalert2.all.min.js"></script>


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" style="width: 1%">

      <div class="list-group list-group-flush">
           <div class="sidebar-heading"><img style='height: 100%; width:35%;object-fit: contain ' src="static/PADSLOGO.png"/> </div>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.pads.rwth-aachen.de/cms/~pnbx/PADS/?lidx=1" target="_new">About US</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="https://github.com/mbafrani/VisualComparison2EventLogs" target="_new">Project Link</a>
            </li>

          </ul>
        </div>
      </nav>

      <div class="container-fluid">
	  		<img src="static/pads_rwth.svg"></img>
		<h3>Interactive Business Process Comparison Using Conformance and Performance Insights</h3>
		<p>To start, please upload one <b>reference event log</b> and one event log to <b>compare</b> against the first.</p>
		<p>Then, click the button <b>Perform Visualization</b> to start the analysis.</p>
		<p>Alternatively, click the button <b>Perform Demo</b> to perform a demo analysis on some synthetic data sets.</p>
          <p>The current application has some problems with the browser <b>Mozilla Firefox</b>. Please use antoher browser.</p>
		<table>
			<tr>
				<td style="width: 50%; vertical-align: top;">
						<div>
							<h3>Reference event log:</h3>
							<input type="file" id="file1" name="file1" size="10"/>
						</div>
						<div>&nbsp;</div>
						<div>
							<h3>Event log to Compare:</h3>
							<input type="file" id="file2" name="file2" size="10" />
						</div>
						<div>&nbsp;</div>
						<input id="uploadbutton" type="button" value="Perform Visualization" onclick="javascript:postEventLog()" class="btn btn-primary" />
				</td>
				<td style="width: 50%; vertical-align: top;">
					<div><p>The following demo performs a visualization on example event logs.</p></div>
					<button onclick="javascript:performDemo()" class="btn btn-primary">Perform Demo</button>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div><a href="static/running-example.xes" target="_new">>Download Example First Log (.XES format)</a></div>
					<div><a href="static/Running-example-simulated.csv" target="_new">>Download Example Second Log (.CSV format)</a></div>
				</td>
			</tr>
		</table>
        <script type="text/javascript">
        	function performDemo() {
        		window.location.href = "comparison.html?uuid1=log1&uuid2=log2";
        	}

            function postEventLog() {
                var formData = new FormData();
                formData.append('file1', $('#file1')[0].files[0]);
                formData.append('file2', $('#file2')[0].files[0]);

				let hostname = window.location.hostname;
				let port = window.location.port;

                var url = "http://"+hostname+":"+port+"/uploadService";
                console.log(url);

               $.ajax({
                type: "POST",
                url: url,
                data: formData,
               processData: false,  // tell jQuery not to process the data
               contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    window.location.href = "comparison.html?uuid1="+data["uuid1"]+"&uuid2="+data["uuid2"];
                },
				error: function(error) {
					Swal.fire({
					  icon: 'error',
					  title: 'Oops...',
				  text: "Something went wrong with the event log processing! Make sure that the logs' properties adhere to the XES standard, and the activity names in two event logs are similar.",
					})
				}
            });
            }
        </script>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
