<html>
    <head>
		<title>Interactive Business Process Comparison Using Conformance and Performance Insights - Upload Page</title>
        <script type="text/javascript" src="static/jquery.min.js"></script>
        <script type="text/javascript" src="static/bootstrap.min.js"></script>
        <link rel="stylesheet" href="static/bootstrap.min.css" />
        <link rel="stylesheet" href="static/bootstrap-grid.min.css" />
        <link rel="stylesheet" href="static/bootstrap-reboot.min.css" />
        <script type="text/javascript" src="static/sweetalert2.all.min.js"></script>
    </head>
    <body>
		<img src="static/pads_rwth.svg"></img>
		<h3>Interactive Business Process Comparison Using Conformance and Performance Insights</h3>
		<p>To start, please upload one <b>reference event log</b> and one event log to <b>compare</b> against the first.</p>
		<p>Then, click the button <b>Perform Visualization</b> to start the analysis.</p>
		<div>
			<h3>Reference event log:</h3>
			<input type="file" id="file1" name="file1" size="10"/>
		</div>
		<div>&nbsp;</div>
		<div>
			<h3>Event log to Compare:</h3>
			<input type="file" id="file2" name="file2" size="10" />
		</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
        <input id="uploadbutton" type="button" value="Perform Visualization" onclick="javascript:postEventLog()" class="btn btn-primary" />
        <script type="text/javascript">
            function postEventLog() {
                var formData = new FormData();
                formData.append('file1', $('#file1')[0].files[0]);
                formData.append('file2', $('#file2')[0].files[0]);

				let hostname = window.location.hostname;
				let port = window.location.port;

                var url = "http://"+hostname+":"+port+"/uploadService";
                console.log(url);

               $.ajax({
                type: "POST",
                url: url,
                data: formData,
               processData: false,  // tell jQuery not to process the data
               contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    window.location.href = "comparison.html?uuid1="+data["uuid1"]+"&uuid2="+data["uuid2"];
                },
				error: function(error) {
					Swal.fire({
					  icon: 'error',
					  title: 'Oops...',
				  text: "Something went wrong with the event log processing! Make sure that the logs' properties adhere to the XES standard, and the activity names in two event logs are similar. Please contact the authors if the problem remains.",
					})
				}
            });
            }
        </script>
	</body>
</html>
